!
! .Xdefaults
!

!!! urxvt -----------------------------------------------------------------

! themes
!
! gruvbox-light
! hard contrast: *background: #f9f5d7
! soft contrast: *background: #f2e5bc
! *background: #f2e5bc
! *foreground: #928374
! *color0:  #fdf4c1
! *color8:  #928374
! *color1:  #cc241d
! *color9:  #9d0006
! *color2:  #98971a
! *color10: #79740e
! *color3:  #d79921
! *color11: #b57614
! *color4:  #458588
! *color12: #076678
! *color5:  #b16286
! *color13: #8f3f71
! *color6:  #689d6a
! *color14: #427b58
! *color7:  #7c6f64
! *color15: #3c3836
! *color16: #0000ff
!
! Base16 OneDark
! Scheme: Lalit Magant (http://github.com/tilal6991)
!
#define base00 #282c34
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
#define base05 #abb2bf
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #61afef
#define base0E #c678dd
#define base0F #be5046
!
*.foreground:   base05
*.background:   base00
!
*.cursorColor:  base05
!
*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
!
*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07
!
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

! Apearence
!
! Font
!URxvt.font: xft:AurulentSansMono Nerd Font Mono:Regular:size=8
!URxvt.font: xft:TerminessTTF Nerd Font Mono:Medium:size=11
!URxvt.font: xft:Inconsolata-Regular:size=9
URxvt.font: xft:Iosevka Term:Medium:size=10
!URxvt.font: xft:DroidSansMono:Medium:size=13
!
! Font spacing
!URxvt.letterSpace: -2
!
! Real transparency
!URxvt*depth: 30
!URxvt*background: rgba:0000/0000/0200/c800
! Fake transparency
urxvt*transparent: true
urxvt*shading: 30

! Scrolling
!
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
! Disable scroolbar
URxvt*scrollBar: False
! Scrollback buffer in secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1

! Extensions
!
URxvt.perl-ext-common:clipboard,matcher,url-select,fullscreen,resize-font,keyboard-select,ibeamcursor
!
! tabs
!URxvt.tabbed.tabbar-fg: 249
!URxvt.tabbed.tabbar-bg: 016
!URxvt.tabbed.tab-fg: 046
!URxvt.tabbed.tab-bg: 016
!
! Clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
!
! Clickable URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.matcher.rend.0: Uline fg6
!
! Yankable URLs (no mouse)
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
!
! Fullscreeen
URxvt.keysym.F11: perl:fullscreen:switch
!
! Resize font
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger
URxvt.iso14755: false
URxvt.iso14755_52: false
!
! Keyboard select
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! Tunning
!
! Disable printing the terminal contents when pressing PrintScreen.
URxvt.print-pipe: "cat > /dev/null"
!
! Slow performance when drawing glyphs
URxvt*skipBuiltinGlyphs: false
