onfiguration {
	modi: "drun,run,window,ssh";
	width: 30;
	lines: 10;
	font: "Noto Sans Regular 10";
	show-icons: true;
	ssh-client: "ssh";
	cycle: true;
	fake-transparency: true;
	kb-mode-next: "Shift+Right,Control+Tab";
}
//@theme "/usr/share/rofi/themes/dmenu.rasi"
@theme "/usr/local/share/rofi/themes/dmenu.rasi"
