!
! $HOME/.config/rofi/config
!

! "Enabled modi" Set from: Default window,run,ssh,drun.
rofi.modi: window,drun,run,ssh

! "Font to use" Set from: Default
!rofi.font: Inconsolata-Regular 09
rofi.font: Iosevka Medium 11

! "Border width" Set from: Default
rofi.bw: 1

! "Whether to load and show icons" Set from: Default
rofi.show-icons: true

! "Terminal to use" Set from: Default
rofi.terminal: urxvt

! "Cycle through the results list" Set from: Default
rofi.cycle: true

! "Enable sidebar-mode" Set from: Default
rofi.sidebar-mode: true

! "Fake transparency *DEPRECATED*" Set from: Default
rofi.fake-transparency: true

! "Background to use for fake transparency. 
! (background or screenshot)" Set from: Default
rofi.fake-background: background

! "New style theme file" Set from: File
rofi.theme: /usr/share/rofi/themes/gruvbox-dark-soft.rasi

! "Switch to the next mode." Set from: Default
 rofi.kb-mode-next: Alt+l

! "Switch to the previous mode." Set from: Default
rofi.kb-mode-previous: Alt+h

! "Take a screenshot of the rofi window" Set from: Default
! rofi.kb-screenshot: Alt+j
