snippet doc "description"
#
# Path: `!v expand('%:p')` 
# Tags: ${1}
# Description: ${2}
# Author: Colpshift
# Last Modified: `!v strftime("%d/%m/%Y %H:%M:%S")`
#
endsnippet

snippet #! "dash bang"
#!/bin/sh
endsnippet

