snippet doc "description"
#
# Path: `!v expand('%:p')` 
# Tags: ${1:tag}
# Description: ${2}
# Author: Colpshift
# Last Modified: `!v strftime("%d/%m/%Y %H:%M:%S")`
#
endsnippet

snippet dash "dashbang"
#!/bin/sh
endsnippet

