snippet docs
	# File: ${1:`expand('%:t')`}
	# Author: ${2:`g:snips_author`}
	# Github: ${3:`g:snips_github`}
	# Description: ${4}
	# Last Modified: ${5:`strftime("%B %d, %Y")`}
	${6}
snippet scomm
	#------------------------------------------------------------------------------
	# ${1}
	#------------------------------------------------------------------------------
	${2}

