[Unit]
Description=Mount boot directory

[Mount]
What=/dev/disk/by-uuid/4FD0-3B9F
Where=/boot/efi
Type=vfat
Options=rw,relatime,fmask=0022,dmask=0022,codepage=437,iocharset=iso8859-1,shortname=mixed,utf8,noauto,x-systemd.automount

[Install]
WantedBy=multi-user.target

