[Unit]
Description=keep ssh key password in memory until logoff. 

[Service]
ExecStart=ssh_agent.sh
Restart=always

[Install]
Alias=ssh_agent.service

