[Unit]
Description=keep ssh key password in memory until logoff. 

[Service]
ExecStart=/home/colps/.scripts/ssh_agent_start.sh
Restart=always

[Install]
Alias=ssh_agent.service

